  /* CUSTOMIZE SCROLL BAR */
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eeeeee;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5f5f5f70; 
    border-radius: 20px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }